################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RollDice/bin/Debug
/RollDice/obj/Debug
/.vs/RollDice/v14/.suo
